body {
  --accent-color-main: #0aac9e;
  --accent-color-secondary: #ccd7da;
  --bg-color-main: #2d2d2d;
  background-color: var(--bg-color-main);
  color: var(--accent-color-main);
  text-align: center;
}

.header {
  font-size: 5.0rem;
  margin: 10px 10px 40px;
}

.game-container {
  width: 80%;
  margin: auto;
}

.game-buttons {
  margin: 20px;
}

  .game-btn {
    background-color: var(--accent-color-main);
    color: var(--accent-color-secondary);
    border: 5px solid var(--accent-color-main);
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
  }

.game-btn:hover {
  background-color: var(--accent-color-secondary);
  color: var(--bg-color-main);
}

.game-board {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: var(--accent-color-secondary);
  border: 5px solid var(--accent-color-main);
}
  .game-board-row {
    display: flex;
    justify-content: center;
  }

    .game-board-row-square {
      background-color: var(--accent-color-secondary);
    }